/* 
*******************
Navbar
******************* 
*/

/* 
*******************
General
******************* 
*/
.bold {
	font-weight: 700;
}
.cursive {
	font-family: 'Pacifico', cursive;
}
.imgsze {
	width: 25rem;
}
.formSize {
	width: 15rem;
}
.margin-5 {
	margin-top: 5%;
}
.margin-bottom-5 {
	margin-bottom: 5%;
}
.progress {
	margin-top: 0;
}
